@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    background-color: #f4f3ee;
    margin : 10px 15px;
}

.tool-desc{
    font-family: 'Poppins';
    margin-top: 15%;
    margin-left: 65%;
    line-height: 30px;
}

.tool-desc > .topic{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: block;
    text-decoration: none;
    color: #000;
}
 .tool-desc > p{
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
 }

 .mn-desc{
    font-family: 'Poppins';
    font-weight: 500;
    margin-top: 7%;
    width: 30%;
 }



 .linkup{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #000;
    height: 170px;
   
 }

 .link-to-main > img{
    width: 150px;
 }

.linkup > a{
    text-decoration: none;
    margin-bottom: 0px;
    font-family: 'Poppins';
    font-size: 120px;
    color: #000;
    margin-left: 0.5vh;
}



